/* App Component Global Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    // font-family: Arial, sans-serif;
    // display: flex;
    // height: 100vh;
    // flex-direction: column;
  }
  
  .main-layout{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  
  
  /* Main Content Section */
  // .main-content {
  //   margin-left: 250px;
  //   padding: 80px 20px 20px 20px;
  //   flex: 1;
  //   background-color: #f9f9f9;
  // }
  