<div class="main-layout"> 
  <div class="header">
  <app-navbar></app-navbar>
</div>
  <!-- <header class="header-bar">
    <div class="logo">Room Share</div>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
      <a routerLink="/rooms" routerLinkActive="active">Rooms</a>
      <a routerLink="/bookings" routerLinkActive="active">Bookings</a>
      <a routerLink="/owner-dashboard" routerLinkActive="active">Owner Dashboard</a>
      <a routerLink="/tenant-dashboard" routerLinkActive="active">Tenant Dashboard</a>
    </nav>
  </header> -->
  <div class="main-section">
  <router-outlet></router-outlet>
</div>
</div>
